---
import { Icon } from 'astro-icon/components'
import './ExperienceComponent.css'
---
<div class="bento">
    <div class="bento__item" style="grid-area: pro1;">
        <span class="item-pro1">European <br> banks</span>
    </div>
    <div class="bento__item" style="grid-area: pro2">
        <span class="item-pro2">4 Cientes satisfechos</span>
    </div>
    <div class="bento__item" style="grid-area: pro3">
        <span class="item-pro3">Multitasking</span>
    </div>
    <div class="bento__item" style="grid-area: pro4">
        <span class="item-pro4">Migration</span>
    </div>
    <div class="bento__item" style="grid-area: pro5">
        <span class="item-pro4">Technologies aplicadas</p>
    </div>
    <div class="bento__item" style="grid-area: pro6;">
        <Icon name="angular" size=10 />
    </div>
    <div class="bento__item" style="grid-area: pro7">
        <Icon name="react" size={100} />
    </div>
    <div class="bento__item" style="grid-area: pro8">
        <span class="item-pro8">Inegration Arquitecture</span>
    </div>
    <div class="bento__item" style="grid-area: pro9">
        <span class="item-pro9">Accenture</span>        
    </div>
    <div class="bento__item" style="grid-area: pro10">
        <span class="item-pro10">+3 Años de expereriencia</span>        
    </div>
    <div class="bento__item" style="grid-area: pro11">
        <span class="item-pro11">Frontend Developer</span>        
    </div>
    <div class="bento__item" style="grid-area: pro12">
        <span class="item-pro12">Salesforce</span> 
    </div>
    <div class="bento__item" style="grid-area: pro13">
        <span class="item-pro13">Microfrontends</span> 
    </div>
    <div class="bento__item" style="grid-area: pro14">
        <span class="item-pro14">Desarrollo de aplicaciones</span>
    </div>
    <div class="bento__item" style="grid-area: pro15">
        <span class="item-pro15">Integraciones</span>
    </div>
    <div class="bento__item" style="grid-area: pro16">
        <span class="item-pro16">Gestión de apis</span>
    </div>
    <div class="bento__item" style="grid-area: pro17">
        <span class="item-pro16">App Developer</span>
    </div>    
</div>