---
import './ExperienceComponent.css'
---
<div class="bento">
    <div class="bento__item" style="grid-area: pro1; text-align: center">
        <span>European <br> banks</span>
    </div>
    <div class="bento__item" style="grid-area: pro2">
        4 Cientes satisfechos
    </div>
    <div class="bento__item" style="grid-area: pro3">
        Multitasking
    </div>
    <div class="bento__item" style="grid-area: pro4">
        Migration
    </div>
    <div class="bento__item" style="grid-area: pro5">
        <p>Technologies aplicadas</p>
    </div>
    <div class="bento__item" style="color:black;    grid-area: pro6">
        <img src="favicon.svg" alt=""/>
    </div>
    <div class="bento__item" style="grid-area: pro7">
        <img src="favicon.svg" alt=""/>
    </div>
    <div class="bento__item" style="grid-area: pro8">
        Inegration Arquitecture
    </div>
    <div class="bento__item" style="grid-area: pro9">
        Accenture
    </div>
    <div class="bento__item" style="grid-area: pro10">
        +3 Años de expereriencia
    </div>
    <div class="bento__item" style="grid-area: pro11">
        Frontend Developer
    </div>
    <div class="bento__item" style="grid-area: pro12">
        TODO
    </div>
    <div class="bento__item" style="grid-area: pro13">
        Microfrontends
    </div>
    <div class="bento__item" style="grid-area: pro14">
        Desarrollo de aplicaciones
    </div>
    <div class="bento__item" style="grid-area: pro15">
        Integraciones
    </div>
    <div class="bento__item" style="grid-area: pro16">
        Gestión de apis
    </div>
    <div class="bento__item" style="grid-area: pro17">
        App Developer
    </div>    
</div>