<section>
    <h2>Get in touch</h2>
    <div class="container-contact">
        <div class="contact-info">
            <h3>Contact Information</h3>
            <p>Feel free to reach out to me for any inquiries or just to say hi!</p>
            <ul>
                <li>
                    <span class="">Email:</span>
                    <a href="mailto: kelvinjcarreno@gmail.com" class="">    kelvinjcarreno@gmail.com</a>
                </li>
                <li>
                    <span class="">Phone:</span>
                    <a href="tel:+61413161964" class="">+61 413 161 964</a>
                </li>
                <li>
                    <span class="">Location:</span>
                    <!-- <span class="">Madrid, Spain</span> -->
                    <span class="">Cairns, Australia</span>
                </li>
            </ul>
        </div>
        <div class="contact-form">
            <form action="#" method="POST" class="grid grid-cols-1 gap-4">
                <div>
                    <label for="email" class="text-primary">Email*</label>
                    <input type="email" id="email" name="email" class="" required>
                </div>
                <div>
                    <label for="message" class="text-primary">Message*</label>
                    <textarea id="message" name="message" class="" required></textarea>
                </div>
                <div>
                    <label for="number" class="text-primary">Phone Number*</label>
                    <textarea id="number" name="number" class="" required></textarea>
                </div>
                <div>
                    <button type="submit" class="">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</section>

<style>
    .container-contact {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        /* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); */
       }

    .contact-info {
       
    }

    .contact-form {
        
    }
</style>