<section>
    <h2>Hello, I'm Kelvin Carreno,
        <br/>Front End Developer.</h2>
    </span>
    <h3>
        Gran desarrollador de Front End con experiencia en tecnologías como HTML, CSS, JavaScript, React,entre otras.
    </h3>
    <button type="button" >Download Resume</button>
</section>

<style>
    section{
        background-color: antiquewhite;
    }
</style>